.slider-container {
  width: 100vw;
  height: 75vh;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.slider-container .switchLeft,
.slider-container .switchRight {
  font-weight: bold;
  line-height: 3rem;
  text-align: center;
  top: 45%;
  z-index: 10;
  opacity: 0.6;
  background-color: rgb(170, 160, 160);
}
.slider-container .switchLeft:hover,
.slider-container .switchRight:hover {
  transform: scale(1.1);
  opacity: 1;
}
.slider-container .switchLeft {
  position: absolute;
  left: 2rem;
}
.slider-container .switchRight {
  position: absolute;
  right: 2rem;
}

.slider-container .slide {
  /* transition: opacity ease-in-out 0.4s; */
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}
.slider-container .slidePrev {
  transform: translateX(-100%);
  opacity: 0;
}
.slider-container .nextSlide {
  transform: translateX(100%);
  opacity: 0;
}
.slider-container .currentSlide {
  transform: translateX(0);
  opacity: 1;
}
.slider-container img {
  width: 100vw;
  height: 75vh;
  object-fit: cover;
}

.quick-booking {
  display: flex;
  width: 65vw;
  max-width: 400px;
  /* min-height: 45vh; */
  flex-direction: column;
  background-color: #262a32;
  color: white;
  position: absolute;
  top: 10%;
  right: 15%;
}
.quick-booking span {
  background-color: #dd5353;
  width: 50%;
  text-align: center;
  padding: 10px;
}

.quick-booking select {
  margin: 10px 20px;
  color: white;
  font-size: 20px;
  padding: 15px 12px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.quick-booking #movie {
  margin-top: 1.5rem;
}
.quick-booking select option {
  color: black;
}

.quick-booking button {
  margin: 10px 12px;
  padding: 10px 20px;
  background-color: #dd5353;
  color: white;
  border-color: transparent;
}
.container-btn {
  display: flex;
  flex-direction: row-reverse;
}
.quick-booking button:hover {
  opacity: 0.5;
}

.booking {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s linear;
  position: absolute;
  color: #fff;
  width: 100%;
  height: 40vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.booking a {
  display: none;
  padding: 15px 25px;
  z-index: 10;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.3s linear;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: #dd5353;
  font-weight: bold;
}

.booking a:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #dd5353;
  border-color: #dd5353;
  cursor: pointer;
}
.movie:hover a {
  display: block;
}
.movie:hover > .booking {
  background-color: rgba(0, 0, 0, 0.5);
}
.movie-store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.movie img {
  width: 25vw;
  height: 40vh;
  object-fit: cover;
}
.movie span {
  padding: 1rem;
}
.movie {
  position: relative;
  margin: 1.2rem 2rem;
  opacity: 1;
  animation: wrapMovie 0.5s linear;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px; */
}

@keyframes wrapMovie {
  0% {
    opacity: 0.4;
    padding-top: 100px;
  }
  100% {
    padding-top: 0;
    opacity: 1;
  }
}

.movie-img {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.movie-container {
  margin: 40px 80px;
}
.movie-container .more-movies {
  padding: 1.2rem 2rem;
  background-color: #fff;
  color: #ee6c4d;
  transition: all 0.3s linear;
}
.movie-container .more-movies-wraper {
  display: block;
  text-align: right;
  margin-right: 5%;
}
.movie-container .more-movies:hover {
  background-color: #ee6c4d;
  color: #fff;
}

.news-store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin-top: 2rem;
}
/* .news-img {
  width: 300px;
  height: 100%;
} */
.news img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.news {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: flex;
  width: 38vw;
  padding-left: 20px;
  transition: all 0.3s linear;
}
.news-nav {
  margin-left: 10%;
}
.news-nav span {
  font-size: 30px;
}
.news-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.news-container .more-news {
  padding: 1.2rem 2rem;
  background-color: #fff;
  color: #ee6c4d;
  transition: all 0.3s linear;
}
.news-container .more-news-wraper {
  align-self: flex-end;
  margin: 1rem 10% 0 0;
}
.news .content {
  padding: 20px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news .content span {
  margin: 0.5rem 0;
}
.news .content .rate span {
  margin-left: 1rem;
}
.news-container .more-news:hover {
  background-color: #ee6c4d;
  color: #fff;
}

.voucher-detail {
  display: none;
}
.voucher-detail a {
  border: 1px solid #fff;
  padding: 2rem 4rem;
  z-index: 10;
  color: #fff;
  text-decoration: none;
}
.voucher-detail a:hover {
  background: #ee6c4d;
  cursor: pointer;
}
.vouchers:hover > .voucher-detail {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  flex-direction: column;
  width: 18vw;
  height: 60vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transition: opacity ease-in-out 0.4s;
}
.vouchers-store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.vouchers img {
  width: 18vw;
  height: 60vh;
  object-fit: cover;
}
.vouchers span {
  padding: 1rem;
}
.vouchers {
  position: relative;
  margin: 1.2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.vouchers-nav {
  margin-left: 10%;
}
.vouchers-nav span {
  margin: 2rem;
}
.vouchers-nav hr {
  width: 40%;
}
.vouchers-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.vouchers-container .more-vouchers {
  padding: 1.2rem 2rem;
  background-color: #fff;
  color: #ee6c4d;
}
.vouchers-container .more-vouchers-wraper {
  align-self: flex-end;
  margin: 1rem 10% 0 0;
}
.vouchers-container .more-vouchers:hover {
  background-color: #ee6c4d;
  color: #fff;
}

.voucher-detail .info {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
}
.voucher-detail .info span {
  text-align: center;
}
.home-page .carousel-indicators button {
  width: 40px;
  height: 8px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;
}
.movie-nav {
  display: inline;
  position: relative;
}
.movie-nav::after {
  content: "";
  left: 10%;
  position: absolute;
  width: 30%;
  height: 3px;
  background: #dd5353;
  transition: all 0.3s linear;
  bottom: -6px;
}
.ative-movie-nav::after {
  left: 62%;
}
.btn-category-film:first-child {
  padding-right: 5px;
  border-right: 1px solid #ccc;
}
.btn-category-film:last-child {
  padding-left: 6px;
  border-left: 1px solid #ccc;
}
.btn-category-film {
  border-color: transparent;
  background: transparent;
  font-size: 25px;
}
.namefilm {
  font-size: 20px;
  text-transform: uppercase;
  padding: 6px;
  text-align: center;
}
.header-content {
  display: flex;
  justify-content: space-between;
}
.header-content span:first-child {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}
.header-content span:last-child {
  flex-shrink: 0;
  opacity: 0.8;
}
.summary-article span {
  cursor: pointer;
  color: #0dcaf0;
}
