.admin-page {
  background: #ccc;
  display: flex;
}
.admin-page .left-page {
  width: 220px;
  height: 100%;
  background: #293241;
  height: calc(100vh - 80px);
  position: fixed;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease-out;
}
.admin-page .left-page.move-left-page {
  left: -220px;
}
.click-down {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 0.6;
  transition: all 0.3s ease-out;
  padding-left: 15px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.4s linear;
}
.click-down:hover {
  opacity: 0.4;
}
.accordion {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.accordion:hover {
  /* color: #293241; */
  opacity: 0.6;
}
.click-down.active {
  height: 40px;
}
.accordion {
  color: #b2b2b2;
  /* border-bottom: 1px solid #ccc; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-page .right-page {
  margin-left: 220px;
  transition: all 0.3s ease-out;
}
.admin-page .right-page.move-right-page {
  margin-left: 0;
}
