.showtime-management{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
}

.showtime-management .showtime-header{
    display:flex;
}
.showtime-management .showtime-header p{
    font-size: 3em;
    margin: auto;
    font-weight: bold;   
}

.showtime-management .showtime-info {
    display:flex;
    flex-direction: column;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.showtime-management .showtime-info li{
    display:flex;
    background-color:  #293241;
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    justify-content:center;
    align-items:center;
}
.showtime-management .showtime-info li .info-container{
    display: flex;
    font-size: 1.2rem;
}
.showtime-management .showtime-info li .info-container p {
    background-color: rgb(231, 197, 58);
    margin: 0rem 2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
}
.showtime-management .showtime-info li .showtime-modify {
    margin: 0rem 2rem;
    padding: 0.2rem;
}
.showtime-management .showtime-info li .showtime-modify .showtime-mod{
    font-size: 2rem;
    margin: 0rem 0.3rem;
    color:white;
}
.showtime-management .showtime-info li .showtime-modify .showtime-mod:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.add-showtime-form{
    display:flex;
    justify-content: center;
}
.add-showtime-form .react-datepicker-wrapper{
    width: 20%;
    margin: 0.3rem 1rem 0.5rem 0;
}   
.add-showtime-form #dateShow{
    width: 100%;         
    padding-left:1rem;
}
.add-showtime-form .select_tag{
    width: 20%;
    margin: 2rem 1rem;
}
.add-showtime-form .btn{
    height: 3rem;
    margin-top: 1.7rem;
    margin-left: 1rem;
    width: 7rem;
    border-radius: 0.5rem;
    color: rgb(231, 197, 58);
    border: 1px solid rgb(231, 197, 58);
    background-color: #293241;
    font-weight: bold;
}

.add-showtime-form button:hover{
    color: #293241;
    background-color: rgb(231, 197, 58);
    transition: all 0.3s linear;
}