.news-grand-container {
  margin: auto;
  margin-top: 5vh;
  max-width: 80vw;
  height: auto;
  background-color: #a8b5c9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-detail-title {
  text-align: center;
  margin: 10px;
  max-width: 80%;
  font-weight: bolder;
}

.news-detail-info {
  font-weight: normal;
  align-self: flex-end;
  margin-right: 120px;
}

.news-detail-info-special {
  font-weight: bold;
}

.news-detail-image {
  max-width: 70%;
  margin: 10px 0;
  border-radius: 10px;
}

.news-detail-content {
  font-weight: normal;
  font-size: large;
  margin: 0 10%;
  text-align: justify;
  text-indent: 10%;
}

.news-content-detail-paragraph {
  margin-top: 10px;
}

.news-detail-source {
  font-weight: 500;
  font-size: small;
  align-self: center;
}

.news-detail-more-actions {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 80%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: 110px;
}

.news-detail-action {
  border-radius: 5px;
  border: none;
  color: black;
  background-color: #a8b5c9;
  padding: 10px;
  font-weight: bold;
  margin-right: 10px;
}

.news-detail-action:hover {
  cursor: pointer;
}

.news-detail-action-enter {
  border-radius: 5px;
  color: #0dcaf0;
  border: 1px solid #0dcaf0;
  background-color: white;
  padding: 10px;
  font-weight: bold;
  margin-right: 10px;
}

.news-detail-action-enter:hover {
  color: black;
  background-color: #0dcaf0;
}

.news-detail-comment-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-detail-comment-input {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.news-detail-comment-header {
  align-self: flex-start;
}

.news-detail-comment-input-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.news-detail-comment-tos {
  font-style: italic;
}

.news-detail-comments-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.news-detail-comment-container {
  display: flex;
  justify-content: space-between;
  background-color: #edfefe;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.news-detail-comment-left {
  width: 100px;
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.news-detail-comment-avatar {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.news-detail-comment-right {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.news-detail-comment-author {
  font-size: larger;
  font-weight: bold;
}

.news-detail-comment-content {
  font-weight: 400;
  margin-bottom: 10px;
}

.news-detail-comment-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
}

.news-detail-comment-action {
  border-radius: 5px;
  margin-bottom: 5px;
  border: none;
  background-color: #edfefe;
  color: black;
  padding: 5px;
  margin-right: 10px;
}

.news-detail-comment-action:hover {
  cursor: pointer;
}
