#footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #1a1a1b;
  padding: 0 40px;
  color: #fff;
  height: 100px;
}

#footer .author-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#footer .icon-wrapper {
  display: flex;
  justify-content: space-around;
}

/* #footer .author-icon {
	margin-left: 20px;
} */