.breadcrumb {
  font-size: 2rem;
  color: #ccc;
}
.current-bread {
  font-size: 2rem;
  text-decoration: none;
  color: #000;
}
.container-profile {
  padding: 40px 30px;
}
.prev-bread {
  font-size: 2rem;
  color: #ccc;
}
.prev-bread,
.current-bread {
  cursor: pointer;
}
.form-profile {
  margin-top: 30px;
  width: 500px;
  font-size: 65px;
}
.control-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.control-info .two {
  width: 30%;
}
.control-info .one {
  width: 65%;
}
.control-info .full {
  width: 100%;
}
.input-div {
  background: #ccc;
  width: 100%;
  padding: 5px 12px;
  border-color: transparent;
  margin-top: 5px;
}
.btn-save {
  font-size: 20px;
  cursor: pointer;
  padding: 2px 7px;
  background: #ff731d;
  border-radius: 4px;
  border-color: transparent;
  color: #fff;
  transition: all 0.3s linear;
}
.btn-save:hover {
  opacity: 0.7;
}
