.container_table_voucher > h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}
.table_voucher {
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}
.table_voucher td,
.table_voucher th {
  padding: 2px;
}
.container_table_voucher .container-btns button {
  padding: 3px;
  margin-left: 10px;
  border-color: transparent;
  /* background: transparent; */
}
.container_table_voucher .container-btns {
  margin-left: -10px;
  text-align: center;
}
