table,
th,
td {
  border: 1px solid;
}
.table-tickets {
  width: 600px;
  text-align: center;
  margin: auto;
}
.table-ticket {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.table-ticket tr:first-child {
  background-color: #ccc;
}
.table-ticket th {
  padding: 2px;
}
.table-ticket td {
  padding: 4px;
}
.container-profile {
  min-height: calc(100vh - 180px);
}
.img-qrcode {
  height: 100px;
  width: 100px;
}
