* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --primary-orange-color: #ee6c4d;
  --blue-dark-color: #3d5a80;
  --blue-mid-color: #98c1d9;
  --blue-light-color: #e0fbfc;
  --black-color: #293241;
  --gray-color: #D9D9D9;
}

.orange-btn {
  display: inline-block;
  background: var(--primary-orange-color);
  margin: 10px 0;
  padding: 4px 16px;
  border: 2px solid var(--primary-orange-color);
  border-radius: 4px;
}

.orange-btn:hover {
  cursor: pointer;
  background: #eee;
}