* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --primary-orange-color: #ee6c4d;
}
#App{
  overflow-x: hidden;
}
.orange-btn {
  background: var(--primary-orange-color);
  margin: 10px 0;
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
}