.container-qr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: container-qr 0.5s linear;
}
.container-qr .qr-main {
  padding: 25px 0px;
  height: 60%;
  width: 50%;
  max-width: 400px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  animation: qr-main 0.5s ease-out;
}
/* .container-cs {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: container-qr 0.5s linear;
}
.container-cs .cs-main {
  height: 120px;
  padding: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  animation: cs-main 0.5s linear;
}

@keyframes cs-main {
  0% {
    height: 0px;
    padding: 0;
    overflow: hidden;
  }
  100% {
    height: 120px;

    padding: 20px;
  }
}
.container-cs .cs-main a {
  margin-left: 10px;
} */
.qr-img {
  width: 80%;
}
.container-qr .qr-img img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

@keyframes container-qr {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@keyframes qr-main {
  0% {
    height: 20px;
    width: 20px;
    overflow: hidden;
  }
  /* 50% {
        height: 60%;
        width: 50%;
    } */
  100% {
    height: 60%;
    width: 50%;
  }
}
/* .message-success {
  color: #54b435;
  font-weight: bold;
} */
