.container-add-slideshow {
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 90px;
  width: 90vh;
  max-width: 780px;
  background: #fff;
  text-align: center;
  position: relative;
}

.container-notes {
  position: absolute;
  bottom: 7px;
  right: 7px;
  font-size: 10px;
}
.container-notes > div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.container-notes .vuong {
  width: 15px;
  height: 15px;
  border: 2px solid #68b984;
  margin-right: 5px;
}

.container-notes .ofShow {
  background: #4c6793;
  border: 2px solid #4c6793;
  opacity: 0.7;
}
.container-notes .difShow {
  background: #674747;
  border: 2px solid #674747;
  opacity: 0.7;
}
.container-notes .choosed {
  background: #68b984;
  border: 2px solid #68b984;
}
.container-add-slideshow > h4 {
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 15px;
}
.container-add-slideshow > button {
  border-radius: 4px;
  background: #4c6793;
  border-color: transparent;
  color: #fff;
  padding: 5px 2px;
  font-weight: bold;
  margin-top: 20px;
}
#popup-root > div {
  background: rgba(0, 0, 0, 0.7);
}
.container-btns-date {
  padding: 2px;
  border: 2px solid #68b984;
}
.container-btns-date button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 4px;
  border: 2px solid #68b984;
  color: #68b984;
  background: #fff;
  font-weight: bold;
  transition: all 0.3s linear;
}
.container-btns-date > .active {
  background: #68b984;
  color: #fff;
}
.container-btns-hours {
  padding: 2px;
  border: 2px solid #68b984;
}
.container-btns-hours > button {
  margin: 5px;
  font-size: 13px;
  min-width: 40px;
  padding: 2px 5px;
  border: 2px solid #68b984;
  color: #68b984;
  font-weight: bold;
  background: #fff;
  transition: all 0.3s ease;
}
.container-btns-hours .hour-dif-show {
  background: #674747;
  color: #fff;
  border-color: #674747;
  opacity: 0.7;
}
.container-btns-hours .hour-of-show {
  background: #4c6793;
  color: #fff;
  border-color: #4c6793;
  opacity: 0.8;
}
.container-btns-hours .hour-choosed {
  background: #68b984;
  color: #fff;
  border-color: #68b984;
}
